{% extends "base.html" %}
{% block title %}404. Página não encontrada{% endblock title %}
{% load static %}
{% block content %}
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-2-3">
            <div class="l-box">
                <h4 class="content-subhead">404</h4>
                <h3>Página não encontrada</h3>
                <p>
                    O endereço que você solicitou não existe.
                </p>
            </div>
        </div>
    </div>
{% endblock content %}