{% extends "base.html" %}
{% block title %}500. Erro Interno Inesperado{% endblock title %}
{% load static %}
{% block content %}
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-2-3">
            <div class="l-box">
                <h4 class="content-subhead">500</h4>
                <h3>Erro interno inesperado</h3>
                <p>Desculpe. Ocorreu um erro inesperado.</p>
                <p>Nossa equipe já foi notificada do problema.<br />
                    Caso necessário entre em contato com <a href="mailto:suporte@simplemooc.com?subject=500 Erro interno inesperado">suporte@simplemooc.com</a></p>
            </div>
        </div>
    </div>
{% endblock content %}